@{
    ViewBag.Title = "Home Page";
}

<div class="speedshare-auto-init"
    data-link="https://github.com" ></div>

<div class="speedshare-auto-init"
     data-theme="icon-count"
     data-gplus="http://appleman.com.ua/speedshare/googleplus?url={link}&callback=services.gplus.cb"
     data-link="https://github.com"
     data-title="GitHub",
     data-shares="facebook,twitter,odnoklassniki,gplus,vkontakte"></div>

<div class="speedshare-auto-init" data-theme="icon-count" data-link="https://github.com"></div>

<div class="speedshare-auto-init" data-theme="minimal" data-link="https://github.com"></div>

<div class="speedshare-auto-init" data-theme="normal" data-link="https://github.com"></div>

<div class="speedshare-auto-init" data-theme="vertical" data-link="https://github.com"></div>

<div id="test"></div>

@Scripts.Render("~/bundles/speedshare")
<script>
    var share = new SpeedShare({
        element: 'test',
        shares: ['facebook', 'twitter', 'odnoklassniki', 'gplus', 'vkontakte'],
        theme: 'minimal',
        link: 'https://github.com',
        title: 'GitHub',
        gplus: 'http://appleman.com.ua/speedshare/googleplus?url={link}&callback=services.gplus.cb'
    });
    share.Init();
</script>



